@import "../../../variables.scss";


.profile_picture_div {
    margin-right: 10px;
    border: none;
    background: none;
    border: 2px solid var(--background-color-secondary);
    border-radius: $border-radius;

    &:hover {
        cursor: pointer;
    }

    .default_profile_pic {
        // padding: 0.5em;
        padding: 4px;
        border-radius: 6px;
        background-color: var(--background-color-tertiary);
    
        display: flex;
        justify-content: center;
        align-items: center;

        color: var(--text-color-primary);
    
    //    svg {
    //     width: 30px;
    //     height: 30px;
    //    }
    
        // .default_profile_pic_img {
        //     width: 30px;
        //     height: 30px;
        //     @include white-filter_color;
        // }
    }

    img {
        border-radius: 6px;
    }
}   
