@import "../../../variables.scss";


.profile_picture_div {
    margin-right: 10px;
    border: none;
    
    background: none;

    &:hover {
        cursor: pointer;
    }

    .default_profile_pic {
        // padding: 0.5em;
        padding: 4px;
        border-radius: 6px;
        background-color: var(--background-color-tertiary);
    
        display: flex;
        justify-content: center;
        align-items: center;
    
       
    
        .default_profile_pic_img {
            width: 30px;
            height: 30px;
            @include white-filter_color;
        }
    }

    img {
        width: calc(30px + 0.5em);
        height: calc(30px + 0.5em);
        border-radius: 6px;
    }
}   
