@import "../../variables.scss";

.CreateThread {
    width: 100%;
    display: flex;
    flex-direction: column;
    // gap: calc(1.5 * $padding);

    h2 {
        padding: $padding calc(1.5 * $padding);
    }

    .thread_title_and_description {
        display: flex;
        flex-direction: column;
        gap: $padding;
        padding: calc(1.5 * $padding);
        border-top: 1px solid var(--border-color);

        .description {
            margin-bottom: 4px;
        }

        .ExpandableInput {
            margin-bottom: 16px;
            
        }
    }

    .edit_logo_and_theme {
        display: flex;
        flex-direction: column;


        .edit_logo, .edit_theme {
            display: flex;
            flex-direction: column;
            padding: calc(1.5 * $padding);
            border-top: 1px solid var(--border-color);

            label {
                margin-bottom: 10px;
            }
        }

        
            .EditProfilePic {
                margin-bottom: $padding;
            }
    }

    .thread_btns {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        border-top: 1px solid var(--border-color);
        padding: $padding calc(1.5 * $padding);

        
        .cancel_btn {
            @include btn-styles(var(--background-color-tertiary));
        }
        
        .save_btn {
            @include btn-styles(var(--green));
        }
    }
    
}

.CreateTheme {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;


    .img_btns {
        display: flex;
        gap: 10px;

        button {
            // color: var(--text-color-primary);
            @include btn-styles(var(--background-color-tertiary));
            padding: 5px;
            transition: none;
            display: flex;
            align-items: center;

            svg {
                width: 25px;
                height: 25px;
                color: var(--text-color-secondary);
            }
        }

        .remove_img_icon {
            color: var(--red);
        }

        .upload_img_icon {
            color: var(--blue);
        }

        // .save_icon {
        //     color: var(--green);
        // }
        
    }


    .image_display {
        width: 500px;
        height: 200px;

        img {
            border-radius: $border-radius;
            height: 200px;
            
            overflow: hidden;
        }
        
    }

    .place_holder_img {
        width: 500px;
        height: 200px;
        background-color: var(--background-color-tertiary);
        border-radius: $border-radius;
        
    }
}



.EditRules {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    padding: calc(1.5 * $padding);
    border-top: 1px solid var(--border-color);
    gap: $padding;

    .rules_and_btns {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: $padding;
    

        .heading_and_list_of_rules {
            display: flex;
            flex-direction: column;
            //width: 100%;
            gap: 10px;
            flex-grow: 1;
            
            
            .list_of_rules {
                background-color: var(--background-color-primary);
                padding: $padding;
                border-radius: $border-radius;
                
                ol {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    // margin-left: calc(2*$padding);
                }

            }
        
        }
        .create_rule_btn {
            @include btn-styles(var(--blue));
            height: fit-content;
        }
    }


}

.CreateRule{
    display: flex;
    flex-direction: column;

    .create {
        display: flex;
        flex-direction: column;
        gap: $padding;

        .create_rule_btns {

            display: flex;
            justify-content: flex-end;
            gap: 10px;
    
            .cancel {
                @include btn-styles(var(--background-color-tertiary));
            }
    
            .add_rule {
                @include btn-styles(var(--blue));
            }
        }
    }
    
    
}



