@import "../../variables.scss";

.FilterOptions {
    display: flex;
    flex-direction: column;

    padding: $padding;
    background-color: var(--background-color-secondary);
    border: 1px solid var(--border-color);
    border-radius: $border-radius;
    @include shadow;

    // for sticky filter options panel
    // position: sticky;
    // top: 60px;

    .sort_by_options {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 16px;

        button {
            @include btn-styles(var(--background-color-tertiary));
            width: 25%;
            display: flex;
            justify-content: center;
        }

        .active {
            @include btn-styles(var(--blue))
        }
    }

    .create_btns {
        display: flex;
        margin-bottom: 16px;
        justify-content: center;
        gap: 10px;

        .create_thread {
            @include btn-styles(var(--blue));
            width: 50%;
        }
    
        .create_post {
            @include btn-styles(var(--green));
            width: 50%;
        }
    }

   
}