@import "../../variables.scss";

.Rule {
    background: none;
    border: none;
    color: var(--text-color-primary);
    

    .title_and_chevron {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        padding: $padding;
        border-top: 1px solid var(--border-color);

        .title {
            text-align: start;
        }


        svg {
            width: 25px;
            height: 25px;
        }
    }

    .description {
        padding: $padding;
        padding-top: 0;
        text-align: start;
        
        color: rgb(135, 135, 135);
    }

    &:hover {
        cursor: pointer;
    }
}