@import "../../variables.scss";

.SearchThreadNames {

    .search_thread_names_input_div {
        display: flex;
        justify-content: space-between;
        @include input_styles;

        .search_thread_names_input {
            width: 100%;
            outline: none;
            border: none;
            background-color: var(--background-color-primary);
            color: var(--text-color-primary);
            font-size: 14px;
            line-height: 20px;
            // box-sizing: border-box;

     
        }
        .cancel_icon {
            display: flex;
            align-items: center;
            color: var(--red);
            cursor: pointer;
            background: none;
            border: none;

            svg {
                width: 20px;
                height: 20px;
            }
        }
    }

    .loader {
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }


    .thread_name_list {
        margin-top: 10px;
        border: 1px solid var(--border-color);
        border-radius: $border-radius;
        @include shadow;
        display: flex;
        flex-direction: column;
        
        
        .thread_name {
            padding: 10px 12px;
            background-color: var(--background-color-secondary);
            color: var(--text-color-primary);
            border: none;
            display: flex;

            display: flex;
            align-items: center;
            gap: 10px;

            font-size: 16px;

            img {
                width: 40px;
                border-radius: $border-radius;
                border: 1px solid var(--border-color);
            }

            &:hover {
                background-color: var(--background-color-tertiary);
                cursor: pointer;
            }
        }
    }
}