@import "../../variables.scss";

.SearchWithinThread {
    // for sticky filter options panel
    // width: calc(100% + 10px);
    // padding-top: 5px;
    // padding-bottom: calc(2 * $inner_padding);
    // position: sticky;
    // z-index: 95;
    // top: 59.5px;
    // background-color: $black;

    width: 100%;
    // padding-bottom: calc(2 * $inner_padding);
    // background-color: $black;
    margin-bottom: calc(2 * $inner_padding);




    .search_thread_input {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        
        padding: $inner_padding;
        background-color: $background-color-secondary;
        border: 1px solid $border-color;
        border-radius: $default-border-radius;
        @include shadow;


        .search_within_thread_input_div {
            display: flex;
            justify-content: space-between;
            @include input_styles;
            width: 100%;

            .search_within_thread_input {
                width: 100%;
                outline: none;
                border: none;
                background-color: $background-color-primary;
                color: $text-color-primary;
                font-size: 14px;    
                line-height: 20px;
                box-sizing: border-box;

        
            }
            .cancel_icon {
                display: flex;
                align-items: center;
                color: $red;
                cursor: pointer;
                background: none;
                border: none;

                svg {
                    width: 20px;
                    height: 20px;
                }
            }
        }

    
        .search_btn {
            @include btn-styles($green);
        }
    }
}