@import "../../variables.scss";



.Add_Comment {
    display: flex;
    justify-content: space-between;
   
    padding: 0.5em;
    border-top: 1px solid $light-grey;

    .add_comment_pic_and_input {
        display: flex;
        width: 100%;

        .input_and_errors {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            margin-top: 3px;
            
            .expandable_input {
                width: calc(100% - 24px);
            }

            .error_msg {
                color: $red;
                margin-top: 0.5em;
                margin-left: 0.5em;
            }
        }

    }

    .comment_btn {
        @include btn-styles($green);
        height: 32px;
        margin-left: 10px;
        margin-top: 3px;
    }

    .not_signed_in {
        display: flex;
        align-items: center;

        button {
            @include btn-style-text($blue);
        }
    }
}