@import "../../variables.scss";



.Add_Comment {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    border-top: 1px solid var(--border-color);
    gap: 10px;

    
    .profile_pic {
        align-self: flex-start;
        //margin-bottom: auto;
    }



    .input_and_btn {

        display: flex;
        width: 100%;
        gap: 10px;
        
        // .ResizableInput {
        //     margin-top: 3px;
        // }
        
        .comment_btn {
            @include btn-styles(var(--green));
            height: 30px;
            // margin-left: 10px;
            // margin-top: 3px;
        }
    }

    // .edit_comment {
    //     .ResizableInput, .comment_btn {
    //         margin-top: 0px;
    //     }
    // }

    .not_signed_in {
        display: flex;
        justify-content: center;
        gap: 10px;
        padding: 5px;
        width: 100%;

        button {
            @include btn-style-text(var(--blue));
            text-decoration: underline;
        }
    }
}