@import "../../variables.scss";

.CommentSectionInfiniteScroll {
    background-color: var(--background-color-secondary);
    border: 1px solid var(--border-color);
    border-radius: $border-radius;
    box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
    margin-bottom: calc(1.5 * $padding);


    .header {
        padding: 0.75em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        
        // @media screen and (max-width: 1100px) {
        //     flex-direction: column;
        // }

        @media screen and (max-width: 800px) {
            flex-direction: column;
        }

        .sort_by_options {
            display: flex;
            align-items: center;
            gap: 10px;

            button {
                @include btn-styles(var(--background-color-tertiary))
            }

            .active {
                @include btn-styles(var(--blue))
            }
        }
    }

    
    
    .end_of_comment_section {
        
        display: flex;
        justify-content: center;
        padding: 10px;
        border-top: 1px solid var(--border-color);

    }
}