@import "./variables.scss";

::-webkit-scrollbar {
    width: 1vw;
}

::-webkit-scrollbar-thumb {
    // background-color: $light-grey;
    background-color: $background-color-tertiary;
    border-radius: 100vw;

    &:hover {
        //background-color: #262b34;
        background-color: $background-color-tertiary;
    }
} 

::-webkit-scrollbar-track {
    // background-color: $dark-grey;
    background-color: $background-color-secondary;
}

@supports (scrollbar-color: $background-color-tertiary $background-color-tertiary) {
    // so it looks somewhat similar of firfox
    * {
        // scrollbar-color: $light-grey $dark-grey;
        scrollbar-color: $background-color-tertiary $background-color-tertiary;
        scrollbar-width: thin;
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    // color: $white;
    // background-color: $black;
    color: $text-color-primary;
    background-color: $background-color-primary;
}

.App {
    // height: 100vh;
    display: flex;
    flex-direction: column;


    .app_content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        
        .main_body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 99;
        }
    }

    
}



