@import "../../variables.scss";

.Notification {
    background-color: $dark-grey;
    border: 1px solid $light-grey;
    border-radius: $default-border-radius;
    overflow: hidden;
    margin-bottom: 16px;
    width: 250px;
    animation: slide_into_view 0.8s;
    animation-fill-mode: forwards;
    
    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .message {
            padding: $inner-padding;
    
        }

        .remove_notfication_btn {
            .cancel_img {
                width: 18px;
            }
        }
    }
    

    .expiration_bar {
        background-color: $blue;
        height: 5px;
    }
    
    .SUCCESS {
        background-color: $green;
    }

    .ERROR {
        background-color: $red;
    }
}

.slide_out_of_view {
    animation: slide_out_of_view 0.4s;
    animation-fill-mode: forwards;
}


@keyframes slide_into_view {
    0% {
        margin-left: 120%;
    }

    100% {
        margin-left: 0%;
    }
}


@keyframes slide_out_of_view {
    0% {
        margin-left: 0%;
    }

    100% {
        margin-left: 120%;
    }
}