@import '../../../variables.scss';


.PaginatedTableRowPosts {

    &:hover {
        cursor: pointer;
        background-color: var(--background-color-tertiary);
    }

    td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid var(--border-color);
    }
    
    
    .is_inappropriate_item {
        color: var(--green);
    }

    .inappropriate {
        color: var(--red);
    }
}