@import "../variables.scss";


nav {
    position: sticky;
    top: 0;
    z-index: 100;
    // background-color: $black;
    background-color: var(--background-color-primary);

    .nav_content {
        display: flex;
        justify-content: flex-end;
        padding: 20px;
        position: relative;
        
    
        .logo {
            position: absolute;
            left: 1em;
            top: 5px;
            display: flex;
            align-items: center;
            .logo_img {
                width: 50px;
                height: 50px;
                margin-right: 10px;
            }
        }

        .dark_mode_toggle {
            display: flex;
            align-items: center;
            gap: 10px;

            button {
                background: none;
                border: none;
                color: var(--text-color-primary);
                cursor: pointer;
            }

            .moon_icon, .sun_icon {
                width: 25px;
                height: 25px;
            }
        }
    
        .links {
            display: flex;
    
            .page_link {
                margin: 0 10px;
                text-decoration: none;
                color: var(--text-color-primary);
            }
    
            .page_link:hover {
                cursor: pointer;
            }
    
            .active {
                border-bottom: 1px solid var(--blue);
            }
        }
    }
}


