@import '../../../variables.scss';


.PaginatedTableRow {

    &:hover {
        cursor: pointer;
        background-color: var(--background-color-tertiary);
    }

    td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid var(--border-color);
    }
    
    
    .profile_pic {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    .is_banned{
        button {
            @include btn-styles(var(--green));
        }
    
        .banned {
            @include btn-styles(var(--red))
        }
    }

    .is_online {
        color: var(--red);
    }

    .active {
        color: var(--green);
    }
}