@import "../variables.scss";


.CreateThreadPage {
    width: 50%;

    background-color: var(--background-color-secondary);
    padding: $padding;
    border: 1px solid var(--border-color);
    border-radius: $border-radius;

    box-shadow: 0 2px 5px rgb(0 0 0 / 30%);

    .sign_in_div {
        display: flex;
        justify-content: center;
        gap: 5px;
        
         button {
            @include btn-style-text(var(--blue));

            &:hover {
                text-decoration: underline;
            }
         }
    }
}

