@import "../variables.scss";

.CreatePostPage {
    width: 50%;

    background-color: $dark-grey;
    padding: $inner_padding;
    border: 1px solid $light-grey;
    border-radius: $default-border-radius;

    box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
}


.text_editor {
    color: black;
}