@import "../variables.scss";

.Posts_Page {
    width: 100%;
    max-width: 1500px;
    display: flex;
    justify-content: center;
    gap: 32px;
    // background-color: $black;

    @media screen and (max-width: 1100px) {
        flex-direction: column;
        align-items: center;
    }

   
    .col_one {
        min-width: 300px;
        display: flex;
        flex-direction: column;
        gap: calc(2 * $padding);
        
        @media screen and (min-width: 1100px) {
            // if screen width is greater than or equal to px
            // width: 80%;
            max-width: 320px;
        }

        @media screen and (max-width: 1100px) {
            // if screen width is smaller than or equal to px
            width: 80%;
        }

        @media screen and (max-width: 800px) {
            width: 95%;
        }


        .filter_post_options {
            display: flex;
            flex-direction: column;
            gap: $padding;
            
            padding: $padding;
            background-color: var(--background-color-secondary);
            border: 1px solid var(--border-color);
            border-radius: $border-radius;
            @include shadow;
            
            .create_btns {
                display: flex;
                justify-content: center;
                gap: 10px;
                
                .create_thread {
                    @include btn-styles(var(--blue));
                    width: 50%;
                }
                
                .create_post {
                    @include btn-styles(var(--green));
                    width: 50%;
                }
            }
        }
    }




    .create_post_and_list_of_posts {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        width: 50%;

        @media screen and (max-width: 1100px) {
            width: 80%;
        }

        @media screen and (max-width: 800px) {
            width: 95%;
        }

        
        .list_of_posts {
            width: 100%;
        
        }

        .end_of_post_lists {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 32px;

            p {
                @include shadow;
                display: flex;
                justify-content: center;
                width: 100%;
                background-color: var(--background-color-secondary);
                padding: 10px;
                border: 1px solid var(--border-color);
                border-radius: $border-radius;
            }
        }
    }

}

