@import "../variables.scss";




.Posts_Page {
    width: 100%;
    max-width: 1500px;
    display: flex;
    justify-content: center;
    gap: 32px;
    // background-color: $black;

    @media screen and (max-width: 1100px) {
        flex-direction: column;
        align-items: center;
    }

   
    .search {
        min-width: 300px;

        @media screen and (max-width: 1100px) {
            width: 80%;
        }

        @media screen and (max-width: 800px) {
            width: 90%;
        }
    }




    .create_post_and_list_of_posts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;

        @media screen and (max-width: 1100px) {
            width: 80%;
        }

        @media screen and (max-width: 800px) {
            width: 90%;
        }

        
        .list_of_posts {
            width: 100%;
        
        }

        .end_of_post_lists {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 32px;

            p {
                @include shadow;
                display: flex;
                justify-content: center;
                width: 100%;
                background-color: $dark-grey;
                padding: 10px;
                border: 1px solid $light-grey;
                border-radius: $default-border-radius;
            }
        }
    }

}


.FilterOptions {
    display: flex;
    flex-direction: column;

    padding: $inner_padding;
    background-color: $dark-grey;
    border: 1px solid $light-grey;
    border-radius: $default-border-radius;
    @include shadow;

    // for sticky filter options panel
    // position: sticky;
    // top: 60px;

    .sort_by_options {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 16px;

        button {
            @include btn-styles($light-grey);
            width: 25%;
        }

        .active {
            @include btn-styles($blue)
        }
    }

    .create_btns {
        display: flex;
        margin-bottom: 16px;
        justify-content: center;
        gap: 10px;

        .create_thread {
            @include btn-styles($blue);
            width: 50%;
        }
    
        .create_post {
            @include btn-styles($green);
            width: 50%;
        }
    }

   
}


.SearchWithinCurrentThread {
    // for sticky filter options panel
    // width: calc(100% + 10px);
    // padding-top: 5px;
    // padding-bottom: calc(2 * $inner_padding);
    // position: sticky;
    // z-index: 95;
    // top: 59.5px;
    // background-color: $black;

    width: 100%;
    padding-bottom: calc(2 * $inner_padding);
    background-color: $black;


    .search_thread_input {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        
        padding: $inner_padding;
        background-color: $dark-grey;
        border: 1px solid $light-grey;
        border-radius: $default-border-radius;
        @include shadow;


    
        input {
            @include input_styles;
            width: 100%
        }

        .clear_btn {
            @include btn-styles($light-grey);
        }
    
        .search_btn {
            @include btn-styles($green);
        }
    }
}


.SearchThreadNames {
    .search_thread_names_input {
        @include input_styles;
        width: 100%;
    }

    .loader {
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }


    .thread_name_list {
        margin-top: 10px;
        border: 1px solid $light-grey;
        border-radius: $default-border-radius;
        @include shadow;
        display: flex;
        flex-direction: column;
        
        
        .thread {
            padding: 10px 12px;
            background-color: $dark-grey;
            color: white;
            border: none;
            display: flex;


            &:hover {
                background-color: $light-grey;
                cursor: pointer;
            }
        }
    }
}