@import "../variables.scss";

.ProfilePage {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    max-width: 1000px;
    gap: calc(2 * $padding);

    .profile_page_outlet{
        width: 100%;
        max-width: calc(1000px - 250px);
    }
}

.ProfileNavBar {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    gap: calc(0.75 * $padding);

    .user {
        display: flex;
        align-items: center;
        

        // h2 {
        //     border-bottom: 1px solid var(--border-color);
        //     padding-bottom: calc(0.5 * $padding);
        //     width: 100%;
        // }
    }

    .links {
        display: flex;
        flex-direction: column;
        gap: calc(0.75 * $padding);
        
        a {
            @include btn-styles(var(--background-color-secondary));
            text-decoration: none;
            padding: $padding;
        }
    
        a.active {
            // border-bottom: 1px solid var(--blue);
            background-color: var(--blue);
        }
    }
}