@import "../variables.scss";

.Profile_Page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;


    .read_profile_div {
        width: 50%;

        .user_posts {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        
            .All_Posts {
                width: 100%;
            }
        
        }
    }

    
}