@import "../variables.scss";

.ProfilePageV2 {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    max-width: 1000px;

    

    .profile_page_outlet{
        border: 1px solid green;
        width: 100%;
    }
}

.ProfileNavBar {
    display: flex;
    flex-direction: column;
    
    min-width: 250px;
    // border: 1px solid red;
    margin: $padding;
    margin-top: 0;




    .links {
        display: flex;
        flex-direction: column;
        gap: 10px;
        
        a {
            text-decoration: none;
            color: var(--text-color-primary);
            padding: $padding;
            border-radius: $border-radius;

        }
    
        a:hover {
            cursor: pointer;
            background-color: var(--background-color-secondary);
        }
    
        a.active {
            // border-bottom: 1px solid var(--blue);
            background-color: var(--blue);
        }
    }
}