@import "../variables.scss";

.SignUpPage {
    
    background-color: var(--background-color-secondary);
    padding: calc(1.5 * $padding);
    border-radius: $border-radius;
    border: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    gap: $padding;
    width: 350px;

    h2 {
        border-bottom: 1px solid var(--border-color);
    }


    
    
    .send_verification_btn {
        @include btn-styles(var(--blue));
    } 


    .verification_code_div {
        display: flex;
        justify-content: center;
    }
    
    
    .loading_div {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .sign_in_redirect {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--blue);
        
        button {
            @include btn-style-text(var(--blue));
            
            text-decoration: underline;
            
        }
    }
    
    
    .sign_up_btn {
        @include btn-styles(var(--green));
        // cursor: not-allowed;
    }
}