@import "../variables.scss";

.ThreadPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    
    .theme {
        z-index: 10;
        position: sticky;
        height: 100vh;
        filter: blur(6px);
        -webkit-filter: blur(6px);
        
        /* Center and scale the image nicely */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;


    }

    .main_content {
        z-index: 11;
        position: absolute;

        // allows us to scroll over the bacgkround image
        overflow: auto;
        max-height: 100vh;

        width: 100%;

        .posts_page {

            width: 100%;
            // -width: 1500px;
            display: flex;
            justify-content: center;
            gap: 32px;

            .search {
                width: 20%;
            }
        
            .create_post_and_list_of_posts {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 50%;
                
                .list_of_posts {
                    width: 100%;
                
                }
        
                .end_of_post_lists {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    margin-bottom: 32px;
        
                    p {
                        box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        background-color: $dark-grey;
                        padding: 10px;
                        border: 1px solid $light-grey;
                        border-radius: $default-border-radius;
                    }
                }
            }
        }



    }
}


.FilterOptions {
    display: flex;
    flex-direction: column;
    position: sticky;
    // top: 60px;
    top: 10px;

    .sort_by_options {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 16px;
        margin-top: 5px;

        button {
            @include btn-styles($light-grey)
        }

        .active {
            @include btn-styles($blue)
        }
    }

    .create_btns {
        display: flex;
        margin-bottom: 16px;
        justify-content: center;
        gap: 10px;

        .create_thread {
            @include btn-styles($blue);
            width: 50%;
        }
    
        .create_post {
            @include btn-styles($green);
            width: 50%;
        }
    }

   
}



.SearchWithinCurrentThread {
    width: calc(100% + 10px);
    padding-top: 5px;
    margin-bottom: calc(2 * $inner_padding);
    position: sticky;
    z-index: 95;
    //top: 59.5px;
    top: 10px;
    overflow: hidden;

    .search_thread_input {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        
        padding: $inner_padding;
        background-color: $dark-grey;
        border: 1px solid $light-grey;
        border-radius: $default-border-radius;
        box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
    
        
    
        input {
            @include input_styles;
            width: 100%
        }

        .clear_btn {
            @include btn-styles($light-grey);
        }
    
        .search_btn {
            @include btn-styles($green);
        }
    }
}