@import '../../variables.scss';

.LineChart {
    
    .date_btns {
        margin-top: 16px;
        button {
            @include btn-style-text(var(--blue));
            margin-right: 10px;
        }

        .active {
            @include btn-style-text(var(--green));
        }
    }

    .line_chart {
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: white;
        padding: 16px;
        border-radius: $border-radius;
        margin-top: 10px;
    }


}