@import "../../variables.scss";

.Input {
    display: flex;
    flex-direction: column;
    gap: 5px;


    .input_field {
        @include input_styles;
        box-sizing: border-box;
        width: 100%;
    }

    .input_with_icon {
        display: flex;
        gap: 5px;

        // input_with_icon div also has a classname input_field
        // and gets the styles for the input from there

        input {
            box-sizing: border-box;
            width: 100%;
            font-size: 14px;
            background-color: var(--background-color-primary);
            color: var(--text-color-primary);
            outline: none;
            border: none;
            
        }

        button {
            cursor: pointer;
            border: none;
            background: none;
            color: var(--blue);

            svg {
                width: 20px;
                height: 20px;
            }
        }
    }
    
    .error_list {
        display: flex;
        flex-direction: column;
        gap: 5px;

        margin-left: 5px;
        // margin-top: 10px;

        .error_item {
            display: flex;
            align-items: center;
            gap: 5px;
            list-style: none;


            svg {
                width: 15px;
                height: 15px;
            }
        }

        .error {
            color: var(--red);
        }
        
        .not_error {
            color: var(--green);
        }
    }
}