@import "../../variables.scss";

.ResizableInput {
    width: 100%;
    
    @include input_styles;
    box-sizing: border-box;
    width: 100%;
    resize: none;
    overflow-y: hidden;
    
    
    ::-webkit-scrollbar {
        width: 10px;
    }
}