@import "../../variables.scss";

.ResizableInput {
    width: 100%;
    
    @include input_styles;
    box-sizing: border-box;
    width: 100%;
    resize: none;
    


    -ms-overflow-style: none;
    scrollbar-width: none;
    
}


.ResizableInput::-webkit-scrollbar {
    display: none;
}