@import "../../variables.scss";


.text_editor {
    width: calc(100% - (2 * $inner_padding));
    margin-bottom: $inner_padding;


    .ck-content {
        // anything here will affect the styles of the text editor content

        ul, ol {
            margin-left: calc(2 * $text_margin_left);
        }

        pre {
            background-color: #eeeeee;
        }
    }

}