@import "../../../variables.scss";

.PasswordInput {
    margin-bottom: $inner_padding;
    display: flex;
    flex-direction: column;

    label {
        margin-bottom: 4px;
        font-size: 14px;
    }

    .password_input:focus-within {
        border: 1px solid $blue;
    }

    .password_input {
        display: flex;
        justify-content: space-between;
        
        border: 1px solid $blue;
        padding: 5px 12px;

        background-color: $background-color-primary;
        color: $text-color-primary;
        border-radius: $default-border-radius;


        input {
            outline: none;
            border: none;
            background-color: $background-color-primary;
            color: $text-color-primary;
            font-size: 14px;
            line-height: 20px;
            width: 100%;
        }


        img {
            width: 20px;
            @include white-filter_color;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .errors {
        margin-top: 4px;
        color: $blue;

        ul {
            margin-left: 16px;

            .valid{
                color: $green;
            }
    
            .invalid {
                color: $red;
            }
        }
    }
}