@import "../../../variables.scss";

.PasswordInput {
    margin-bottom: $padding;
    display: flex;
    flex-direction: column;

    label {
        margin-bottom: 4px;
        font-size: 14px;
    }

    .password_input:focus-within {
        border: 1px solid var(--blue);
    }

    .password_input {
        display: flex;
        justify-content: space-between;
        
        border: 1px solid var(--blue);
        padding: 5px 12px;

        background-color: var(--background-color-primary);
        color: var(--text-color-primary);
        border-radius: $border-radius;


        input {
            outline: none;
            border: none;
            background-color: var(--background-color-primary);
            color: var(--text-color-primary);
            font-size: 14px;
            line-height: 20px;
            width: 100%;
        }


        img {
            width: 20px;
            @include white-filter_color;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .errors {
        margin-top: 4px;
        color: var(--blue);

        ul {
            margin-left: 16px;

            .valid{
                color: var(--green);
            }
    
            .invalid {
                color: var(--red);
            }
        }
    }
}