

.background_image_parent {
    position: relative;
    width: 100%;

    .background_image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        width: 100%;
        filter: blur(6px);
        -webkit-filter: blur(6px);
        
        z-index: -1;
        
        /* Center and scale the image nicely */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
   
}