@import "../variables.scss";


.EmailInput {
    margin-bottom: $inner_padding;
    display: flex;
    flex-direction: column;

    label {
        margin-bottom: 4px;
        font-size: 14px;
    }

    .email_input:focus-within {
        border: 1px solid $blue;
    }

    .email_input {
        display: flex;
        justify-content: space-between;
        
        border: 1px solid $light-grey;
        padding: 5px 12px;

        background-color: $black;
        color: $white;
        border-radius: $default-border-radius;


        input {
            outline: none;
            border: none;
            background-color: $black;
            color: $white;
            font-size: 14px;
            line-height: 20px;
            width: 100%;
        }

    }

    .errors {
        margin-top: 4px;
        color: $blue;

        ul {
            margin-left: 16px;

            .valid{
                color: $green;
            }
    
            .invalid {
                color: $red;
            }
        }

        .link {
            color: $blue;
            display: flex;
            justify-content: space-between;

            button {
                all: unset;
                cursor: pointer;
                text-decoration: underline;
                margin-right: 0.5em;
            }
        }
    }
}