@import "../variables.scss";

.Add_Comment {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    padding-top: 0;

    .add_comment_pic_and_input {
        display: flex;
        align-items: center;
        width: 100%;

        .add_comment_input {
            @include input_styles;
            width: 100%;
            margin: 0 10px;
        }
    }

    .comment_btn {
        @include btn-styles($green);
    }
}