@import "../variables.scss";

.login_input {
    display: flex;
    flex-direction: column;
    color: $white;
    font-size: 14px;
    margin-bottom: 16px;

    label {
        font-size: 14px;
        margin-bottom: 4px;
    }
    
    input {
        @include input_styles;
    }

    
    
    .error_msg {
        color: $red;
        margin-top: 4px;

        ul {
            margin-left: 16px;
        }
    }
}

