@import "../variables.scss";

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    .links {
        display: flex;

        .page_link {
            margin: 0 10px;
        }

        .page_link:hover {
            cursor: pointer;
        }

        .active {
            border-bottom: 1px solid $blue;
        }
    }
}

