@import "../variables.scss";

.default_profile_pic_div {
    margin-right: 10px;
    padding: 0.5em;
    border-radius: 6px;
    background-color: $light-grey;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
    }

    .default_profile_pic {
        width: 30px;
        height: 30px;
        @include white-filter_color;
    }
}