@import "../../variables.scss";

// .up_arrow_div {


//     svg {
//         width: 25px;
//         height: 25px;
//         // background-color: $blue;
   

//         // .s0 {
//         //     fill: $green;
//         // }
//     }
// }

.votes {
    display: flex;
    justify-content: center;
    align-items: center;

    .up_arrow, 
    .down_arrow {

        display: flex;
        justify-content: center;
        align-items: center;

        background: none;
        border: none;
        padding: 0.5em;
        // border-radius: 6px;
        color: inherit;
        cursor: pointer;   

        position: relative;

        span {
            position: absolute;
            bottom: 125%;
            color: $black;
            background-color: $white;
            padding: 0.5em;
            border-radius: 6px;
            visibility: hidden;
            
            &::before {
                position: absolute;
                content: '';
                width: 10px;
                height: 10px;
                border-radius: 2px;

                background-color: $white;
                top: 80%;
                right: 45%;
                transform: rotate(45deg);
            }
        }

        &:hover span {
            visibility: visible;
        }
        
        // &:hover {
        //     background-color: $light-grey;
        // }

        .vote_img {
            width: 25px;
            height: 25px;
            @include blue-filter_color;
        }

        .comment_vote_img {
            width: 15px;
            height: 15px;
        }
    }

  

    .up_arrow {
        padding-right: 0;
        &:hover .up_vote{
            @include green-filter_color;
        }


        span {
            width: 50px;
            right: -65%;
        }
    
    }


    .down_arrow {
        .down_vote {
            // @include red-filter_color;
            transform: rotate(180deg);
        }

        &:hover .down_vote {
            @include red-filter_color;
        }


        span {
            width: 65px;
        }
    }


   
}

.voter_list_modal {
    background-color: $dark-grey;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);

    padding: calc(2*$inner-padding);
    border: 1px solid $light-grey;
    border-radius: $default-border-radius;

    display: flex;
    flex-direction: column;

    width: 400px;
    
    

    
}

.VoterListInfiniteScroll {

    display: flex;
    flex-direction: column;
    gap: 10px;

    .header {
        display: flex;
        justify-content: space-between;
        h2 {
            margin-bottom: 10px;
        }

        .close_modal_btn {
            display: flex;
            align-items: center;
            color: $red;
            cursor: pointer;
            background: none;
            border: none;

            svg {
                width: 20px;
                height: 20px;
            }
        }
    }

    .end_of_voters_lists {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        background-color: $light-grey;
    border-radius: $default-border-radius;
    }
}


.VoterCard {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: $light-grey;
    border-radius: $default-border-radius;


    .username {
        @include btn-style-text($blue);
        text-decoration: underline;
    }

}