@import "../../variables.scss";

// .up_arrow_div {


//     svg {
//         width: 25px;
//         height: 25px;
//         // background-color: var(--blue);
   

//         // .s0 {
//         //     fill: var(--green);
//         // }
//     }
// }

.votes {
    display: flex;
    justify-content: center;
    align-items: center;

    .up_votes, .down_votes {
        background: none;
        border: none;
        color: var(--text-color-primary);
        cursor: pointer;
        padding: 5px 10px;
        border-radius: $border-radius;
        background-color: var(--background-color-secondary);
        
        &:hover {
            filter: brightness(1.2);
        }
    }

    .up_arrow, 
    .down_arrow {

        display: flex;
        justify-content: center;
        align-items: center;

        background: none;
        border: none;
        padding: 0.5em;
        // border-radius: 6px;
        color: inherit;
        cursor: pointer;   

        position: relative;


        .vote_img {
            width: 25px;
            height: 25px;
            @include blue-filter_color;
        }

        .comment_vote_img {
            width: 15px;
            height: 15px;
        }
    }

  

    .up_arrow {
        .up_vote {
            @include green-filter_color;
        }

        padding-right: 0;
        &:hover .up_vote{
            @include green-filter_color;
        }


    
    
    }


    .down_arrow {
        .down_vote {
            @include red-filter_color;
            transform: rotate(180deg);
        }

        &:hover .down_vote {
            @include red-filter_color;
        }


    }


   
}

.voter_list_modal {
    background-color: var(--background-color-secondary);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);

    padding: calc(2*$padding);
    border: 1px solid var(--border-color);
    border-radius: $border-radius;

    display: flex;
    flex-direction: column;

    width: 400px;
    
    

    
}

.VoterListInfiniteScroll {

    display: flex;
    flex-direction: column;
    gap: 10px;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        .tabs {
            display: flex;
            gap: 10px;

            button {
                border: none;
                background: none;
                color: var(--text-color-primary);
                cursor: pointer;
                font-size: large;
                padding: 10px 5px;
            }

            .active {
                border-bottom: 1px solid var(--blue);
            }

        }


        .close_modal_btn {
            display: flex;
            align-items: center;
            color: var(--red);
            cursor: pointer;
            background: none;
            border: none;

            svg {
                width: 30px;
                height: 30px;
            }
        }
    }

    .voter_content {
    

        .list_of_voters {
            display: flex;
            flex-direction: column;
            gap: 10px;

            // this div only becomes scrollable
            // when the height is greater than max-height
            // otherwise the height will fit the content of this div
            max-height: 200px;
            // overflow auto means it only shows scrollbar when 
            // this div can be scrolled
            overflow-y: auto;
            // puts the scrollbar slightly to the right
            padding-right: 5px;
            
            
            .end_of_voters_lists {
                // margin-top: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                background-color: var(--background-color-tertiary);
                border-radius: $border-radius;
            }
        }
    }

}


.VoterCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color-tertiary);
    border-radius: $border-radius;
    padding: 10px;

    .left_side {
        display: flex;
        align-items: center;
        
        
        .username {
            @include btn-style-text(var(--text-color-primary));
        }
    }


    .follower_following_btn {
        width: 30%
    }
    .following_btn {
        @include btn-styles(var(--green));
    }

    .follower_btn {
        @include btn-styles(var(--blue));
    }

    &:hover {
        .username {    
            color: var(--blue);
            text-decoration: underline;
        }
    }

}