@import "../../variables.scss";


.EditUsername {
    border-top: 1px solid var(--border-color);
    padding: $padding;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .edit_content, .static_content {
        display: flex;
        flex-direction: column;
        width: 250px;
    }

    .btns {
        display: flex;
        gap: 10px;
        
    

        button {
            @include btn-styles(var(--text-color-secondary));
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            color: var(--text-color-primary);
            background-color: var(--text-color-secondary);
            height: fit-content;
            
            svg {
                width: 25px;
                height: 25px;
                margin-right: 10px;
            }
            
        }
        
        .save_btn {
            background-color: var(--green);
        }
    }

    

}

.editing {
    align-items: flex-end;
}

