@import "../../variables.scss";

.ProfileDetails {
    display: flex;
    justify-content: center;
    width: 100%;
    
    .user_details_card{
        width: 100%;
        // background-color: var(--background-color-secondary);
        // padding: $padding;
        // border-radius: $border-radius;
        // border: 1px solid var(--border-color);
        // @include shadow;

        display: flex;
        gap: calc(2 * $padding);
        // justify-content: space-around;

        .username_and_picture{
            display: flex;
            flex-direction: column;
            // align-items: center;

            gap: 5px;

            .join_data {
                label {
                    color: var(--text-color-secondary);
                }
            }

        
        }

        .user_data_and_bio {
            display: flex;
            flex-direction: column;
            justify-content: space-between;


            .user_data {
                display: flex;
                gap: 10px;

                button {
                    border: none;
                    background: none;
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    gap: 3px;

                    color: white;
                    // color: var(--text-color-primary);
                    background-color: var(--background-color-tertiary);
                    padding: 10px;
                    border-radius: $border-radius;

                    cursor: pointer;

                    label, span {
                        cursor: pointer;
                    }

                }
            }

            

            .bio {
                white-space: pre-line;
                padding: $padding 0;
            }
            
            .btns {
                display: flex;
                gap: 10px;

                .following_btn {
                    @include btn-styles(var(--green));
                }

                .follow_btn {
                    @include btn-styles(var(--blue));
                }

                .logout_btn {
                    @include btn-styles(var(--blue));
                }

                .edit_profile_btn {
                    @include btn-styles(var(--background-color-tertiary));

                    padding: 5px;
                    padding-right: 10px;
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    .edit_btn_icon {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
            
        }

    }

}


.follower_list_modal {
    background-color: var(--background-color-secondary);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);

    padding: calc(2*$padding);
    border: 1px solid var(--border-color);
    border-radius: $border-radius;

    display: flex;
    flex-direction: column;

    width: 400px;
    
    

    
}




