@import '../../variables.scss';

.PaginatedTable {
    width: 100%;
    
    
    table {
        width: 100%;
        padding: $padding;
        border-collapse: collapse;
        background-color: var(--background-color-secondary);
        
        border-radius: 12px 12px 0 0 ;
        
        thead {
            background-color: var(--blue);
            
            th {
                padding: 12px;
                text-align: left;
                border-bottom: 1px solid var(--border-color);
            }
        }

    }

    .change_pages {
        display: flex;
        margin-top: 16px;

        button {
            @include btn-styles(var(--blue));
            margin-right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .active {
            @include btn-styles(var(--green));
        }

        .page_counts {
            display: flex;
        }
        
    }
    
}