@import "../../../variables.scss";


.EmailInput {
    margin-bottom: $inner_padding;
    display: flex;
    flex-direction: column;

    label {
        margin-bottom: 4px;
        font-size: 14px;
    }

    // .initial_input {
    //     border: 1px solid $blue;
    // }

    // .valid_input {
    //     border: 1px solid $green;
    // }

    // .invalid_input {
    //     border: 1px solid $red;
    // }

    // .email_input:focus-within {
    //     border: 1px solid $blue;
    // }

    .email_input {
        display: flex;
        justify-content: space-between;
        
        border: 1px solid $blue;
        padding: 5px 12px;

        background-color: $background-color-primary;
        color: $text-color-primary;
        border-radius: $default-border-radius;


        input {
            outline: none;
            border: none;
            background-color: $background-color-primary;
            color: $text-color-primary;
            font-size: 14px;
            line-height: 20px;
            width: 100%;

            
        }

        // prevents default sytling when autofilling
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            transition: background-color 5000s ease-in-out 0s;
            -webkit-text-fill-color: $text-color-primary !important;
        }

    }

    .errors {
        margin-top: 4px;
        color: $blue;

        ul {
            margin-left: 16px;

            .valid{
                color: $green;
            }
    
            .invalid {
                color: $red;
            }
        }

        .link {
            color: $blue;
            display: flex;
            justify-content: space-between;

            button {
                all: unset;
                cursor: pointer;
                text-decoration: underline;
                margin-right: 0.5em;
            }
        }
    }
}