@import "../../variables.scss";

.Create_Post {
    width: 50%;
    margin-bottom: calc(2 * $inner_padding);

    .collapsed_post_view {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: $dark-grey;
        border-radius: $default-border-radius;
        padding: $inner_padding;
        border: 1px solid $light-grey;


        input {
            @include input_styles;
            width: 100%;
            height: 20px;
        }
    
       
    }

    .redirect_from_posts {
        display: flex;
        justify-content: center;
        .sign_in_btn {
            @include btn-style-text($blue);
        }
    }

    .expanded_post_view {
        display: flex;
        align-items: center;
        flex-direction: column;
        
        background-color: $dark-grey;
        border-radius: $default-border-radius;
        padding: $inner_padding;
        border: 1px solid $light-grey;


        h2 {
            margin-bottom: 16px;
        }

        .characters_and_btns {
            display: flex;
            justify-content: space-between;
            width: calc(100% - (2 * $inner_padding));

            .characters_left
            ,.post_btns {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .cancel_btn {
                @include btn-styles($red);
            }

            .post_btn {
                @include btn-styles($green);
                margin-left: 10px;
            }
        }
    }
}


.text_editor {
    color: black;
}