@import "../../variables.scss";


.delete_post_modal {
    background-color: $background-color-secondary;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    //z-index: 102;

    padding: calc(2*$inner-padding);
    border: 1px solid $border-color;
    border-radius: $default-border-radius;

    display: flex;
    flex-direction: column;

    width: 400px;
    
    h2, p {
        margin-bottom: 10px;
    }

    .btns {
        display: flex;
        justify-content: flex-end;
        gap: 10px;

        .cancel_btn {
            @include btn-styles($background-color-tertiary);
        }

        .delete_btn {
            @include btn-styles($red);
        }
    }
    
}


.DynamicPostCard {
    margin-bottom: calc(1.5 * $inner_padding);
    background-color: $background-color-secondary;
    border: 1px solid $border-color;
    border-radius: $default-border-radius;

    box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
    

    .post_user_and_awards {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // padding: $inner_padding 0 10px $inner_padding;
        padding: 0.5em;
        border-bottom: 1px solid $border-color;

        .post_user {
            display: flex;
            align-items: center;

            .posted_by_user {
                display: flex;

                &:hover {
                    cursor: pointer;
    
                    .username {
                        color: $blue;
                        text-decoration: underline;
                        
                    }
                }
    
                .updated_at_time {
                    color: $text-color-secondary;
                    b {
                        margin-left: 5px;
                        margin-right: 5px;
                    }
                }
            }

        }

        .btns {
            display: flex;
            justify-content: center;
        }

        
    }

    .main_content_and_votes {
        display: flex;
        padding: 16px;

        position: relative;

        .show_more_btn {
            position: absolute;
            bottom: 1em;
            right: 1em;
        }

        .text_content {
            background-color: $background-color-secondary;
            color: $text-color-primary;

            // calculate the entire value including padding , margin, border
            // that this div, and the votes div take
            width: calc(100%);
            box-sizing: border-box;
        
            display: flex;
            align-items: center;
            justify-content: center;


            .editable_content {
                width: 100%;


                .text_editor {
                    margin-bottom: 0;
                    width: 100%;
                }
            }
            

        
        }

    }

    .post_btns {
        padding: 0.5em;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid $border-color;   

        .votes {
            margin-left: 10px;
        }

        .is_inappropriate_error {
            display: flex;
            align-items: center;
            color: red;
        }

        .both_comments_btns {    
            display: flex;   
        }
    }


}

