@import "../../variables.scss";

.display_text {
    width: 100%;
    overflow-wrap: break-word;
    background-color: var(--background-color-secondary);


    .Title {
        margin-bottom: 10px;
    }

    .image_display {
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        img {
            // width: 100%;
            // height: auto;
           
            // aspect-ratio: 16/9;
            // object-fit: cover;
            border-radius: $border-radius;

        
            @media screen and (min-width: 1300px) {
                // if screen width is greater than or equal to px
                max-height: 400px;
                width: auto;
            }

            @media screen and (max-width: 1300px) {
                // if screen width is smaller than or equal to px
                max-width: 100%;
                height: auto;
            }

            // @media screen and (max-width: 800px) {
            //     width: 95%;
            // }
        }
    }

}