@import "../../variables.scss";

.display_text {
    width: 100%;
    overflow-wrap: break-word;


    .Title {
        margin-bottom: 10px;
    }

    .image_display {
        margin-bottom: 10px;
        img {
            width: 100%;
            height: auto;
            // aspect-ratio: 16/9;
            // object-fit: cover;
            border-radius: $default-border-radius;
        }
    }

}