@import "../../variables.scss";

.PostsByUser {
    display: flex;
    flex-direction: column;
    gap: calc(1.5 * $padding);

    .header {
        display: flex;
        border-bottom: 1px solid var(--border-color);
        align-items: flex-end;
        justify-content: space-between;

        h2 {
            padding-bottom: calc(0.5 * $padding);
        }


        .sort_by_options {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 5px;

            button {
                @include btn-styles(var(--background-color-tertiary));
                
            }

            .active {
                background-color: var(--blue);
            }
        }
    }

    

    .sort_by_options_and_search_input {
        display: flex;
        gap: $padding;
    

        

        .search_within_posts {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            background-color: var(--background-color-secondary);
            border: 1px solid var(--border-color);
            padding: $padding;
            border-radius: $border-radius;
            width: 100%;

            .Input  {
                width: 100%;

                .remove_search_btn {
                    display: flex;
                    align-items: center;
                }
            }
        

            .search_btn {
                @include btn-styles(var(--green));
            }
        }
    }

    .list_of_posts {
        display: flex;
        flex-direction: column;
        gap: calc(2 * $padding);
    }

    .end_of_post_lists {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 32px;

        p {
            @include shadow;
            display: flex;
            justify-content: center;
            width: 100%;
            background-color: var(--background-color-secondary);
            padding: 10px;
            border: 1px solid var(--border-color);
            border-radius: $border-radius;
        }
    }
}