@import "../../variables.scss";


// when displaying content from text editor, these
// styles will ensure it is the same as the one seen in the text editor
// all styles inside the .text_content nest

// add this react component where u want so these styles are applied


.StaticPostCard {
    margin-bottom: calc(2 * $padding);
    background-color: var(--background-color-secondary);
    border: 1px solid var(--border-color);
    border-radius: $border-radius;

    box-shadow: 0 2px 5px rgb(0 0 0 / 30%);


    .delete_modal_div {
        .cancel {
            @include btn-styles(var(--blue));
        }

        .delete_post_btn {
            @include btn-styles(var(--green));
        }
    }
   

    .post_user_and_awards {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // padding: $padding 0 10px $padding;
        padding: 0.5em;
        border-bottom: 1px solid var(--border-color);

        .post_user {
            display: flex;
            align-items: center;

            .posted_by_user {
                display: flex;

                &:hover {
                    cursor: pointer;
    
                    .username {
                        color: var(--blue);
                        text-decoration: underline;
                        
                    }
                }
    
                .updated_at_time {
                    color: var(--text-color-secondary);
                    b {
                        margin-left: 5px;
                        margin-right: 5px;
                    }
                }
            }

        }

        .btns {
            display: flex;
            justify-content: center;

            .edit_btn, .delete_btn {
                @include btn-styles(var(--background-color-secondary));
                padding: 5px;
                transition: none;
                
                .edit_icon, .delete_icon {
                    width: 25px;
                    height: 25px;
                    color: var(--text-color-secondary);
                }
            }

        
        }

        
    }

    .main_content_and_votes {
        display: flex;
        padding: 16px;

        position: relative;

        .show_more_btn {
            position: absolute;
            padding: 5px;
            padding-right: 0;
            bottom: 1em;
            right: 1em;
        }

        .text_content {
            background-color: var(--background-color-secondary);
            color: var(--text-color-primary);

            // calculate the entire value including padding , margin, border
            // that this div, and the votes div take
            width: calc(100%);
            box-sizing: border-box;
        
            display: flex;
            align-items: center;
            justify-content: center;


            .editable_content {
                width: 100%;


                .text_editor {
                    margin-bottom: 0;
                    width: 100%;
                }
            }
           

            
        }

    }

    .post_btns {
        padding: 0.5em;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid var(--border-color);   

        .votes {
            margin-left: 10px;
        }

        .is_inappropriate_error {
            display: flex;
            align-items: center;
            color: red;
        }

        .both_comments_btns {    
            display: flex;   

            .comment_btn, .add_comment_btn {
                @include btn-styles(var(--background-color-secondary));
                padding: 5px;
                transition: none;
                display: flex;
                align-items: center;
                
                .comment_icon, .add_comment_icon {
                    width: 25px;
                    height: 25px;
                    color: var(--text-color-secondary);
                }

                .comment_icon {
                    color: var(--blue);
                }
            }
        }
    }


}
