@import "../../variables.scss";

.Notification {
    background-color: var(--background-color-secondary);
    border: 1px solid var(--border-color);
    border-radius: $border-radius;
    overflow: hidden;
    margin-bottom: 16px;
    width: 275px;   // to change this width, also change it in the notification provider
    animation: slide_into_view 0.8s;
    animation-fill-mode: forwards;
    
    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $padding;
        gap: 10px;
    

        .dismiss_btn {
            border: none;
            background: none;
            color: var(--blue);

            display: flex;
            align-items: center;
            cursor: pointer;

            .icon {
                width: 25px;
                height: 25px;
            }
        }

        .SUCCESS_btn {
            color: var(--green);
        }

        .ERROR_btn {
            color: var(--red);
        }
       
    }
    

    .expiration_bar {
        background-color: var(--blue);
        height: 5px;
    }
    
    .SUCCESS {
        background-color: var(--green);
    }

    .ERROR {
        background-color: var(--red);
    }
}

.slide_out_of_view {
    animation: slide_out_of_view 0.4s;
    animation-fill-mode: forwards;
}


@keyframes slide_into_view {
    0% {
        margin-left: 120%;
    }

    100% {
        margin-left: 0%;
    }
}


@keyframes slide_out_of_view {
    0% {
        margin-left: 0%;
    }

    100% {
        margin-left: 120%;
    }
}