@import "./variables.scss";

* {
    margin: 0;
    padding: 0;
}

body {
    color: $white;
    background-color: $black;
}



.main_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

