// to import these variables into other files 
// write @import "../variables.scss"; 
// at the top of the scss file


// to use a specific variable 
// write $variable-name

$blue: #3f8afb;
$black: #0d1117;
$light-grey: #21262d;
$dark-grey: #161b22;
$white: #c9d1d9;
$red: #d70101;
$green: #238636;


@mixin blue-filter_color {
    filter: invert(50%) sepia(28%) saturate(5232%) hue-rotate(199deg) brightness(98%) contrast(100%);
}

@mixin black-filter_color {
    filter: invert(4%) sepia(5%) saturate(4582%) hue-rotate(177deg) brightness(97%) contrast(94%);
}

@mixin light-grey-filter_color {
    filter: invert(12%) sepia(13%) saturate(812%) hue-rotate(175deg) brightness(95%) contrast(92%);
}

@mixin dark-grey-filter_color {
    filter: invert(6%) sepia(8%) saturate(2936%) hue-rotate(175deg) brightness(89%) contrast(88%);
}

@mixin white-filter_color {
    filter: invert(96%) sepia(3%) saturate(1564%) hue-rotate(179deg) brightness(93%) contrast(81%);
}

@mixin red-filter_color {
    filter: invert(14%) sepia(97%) saturate(4317%) hue-rotate(358deg) brightness(84%) contrast(117%);
}

@mixin green-filter_color {
    filter: invert(25%) sepia(90%) saturate(2859%) hue-rotate(129deg) brightness(89%) contrast(73%);
}


$inner_padding: 16px;
$default-border-radius: 6px;

$text_margin_left: 10px;
// $text_editor_max_width: 855px;
$text_editor_max_width: 100%;


// to use mixins, 
// write @include mixin_name;

@mixin btn-styles($background-color) {
    padding: 5px 16px;
    border-radius: 6px;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    color: white;
    transition: 200ms;

    border: 1px solid $background-color;
    background-color: $background-color;

    &:hover {
        filter: brightness(1.2);
    }
}

@mixin btn-style-text($color) {
    font-weight: bold;
    background: none;
    border: none;
    color: $color;
    cursor: pointer;
}

@mixin input_styles {
    border: 1px solid $blue;
    outline: none;
    padding: 5px 12px;
    background-color: $black;
    color: $white;
    border-radius: $default-border-radius;
    font-size: 14px;
    line-height: 20px;

    &:focus {
        border: 1px solid $blue;
    }
}