@import "../../variables.scss";


.margin_right {
    margin-right: 10px;
}

.margin_left {
    margin-left: 10px;
}


button {
    span {
        z-index: 101;
    }
}


.save_btn {
    // background-color: $dark-grey;
    background-color: $background-color-secondary;
    border: none;
    cursor: pointer;   

    display: flex;
    align-items: center;

    position: relative;

    .save_img {
        width: 30px;
        height: 30px;
        @include green-filter_color;
    }

    .size_large {
        width: 30px;
        height: 30px;
    }
    
    .size_small {
        width: 20px;
        height: 20px;
    }

    span {
        position: absolute;
        bottom: 125%;
        right: -20%;
        // color: $text-color-primary;
        background-color: $text-color-primary;
        color: $text-color-primary-inversed;
        padding: 0.5em;
        border-radius: 6px;
        visibility: hidden;


        &::before {
            position: absolute;
            content: '';
            width: 10px;
            height: 10px;
            border-radius: 2px;

            // color: $text-color-primary;
            background-color: $text-color-primary;
            top: 80%;
            right: 38%;
            transform: rotate(45deg);
        }
    }

    &:hover span {
        visibility: visible;
    }
}

.cancel_btn {
    background-color:  $background-color-secondary;
    // background-color: $dark-grey;
    border: none;
    cursor: pointer;   

    display: flex;
    align-items: center;

    position: relative;

    .cancel_img {
        @include red-filter_color;
    }

    .size_large {
        width: 25px;
        height: 25px;
    }
    
    .size_small {
        width: 15px;
        height: 15px;
    }

    span {
        position: absolute;
        bottom: 125%;
        right: -58%;
        // color: $background-color-primary;
        // color: $text-color-primary;
        background-color: $text-color-primary;
        color: $text-color-primary-inversed;
        padding: 0.5em;
        border-radius: 6px;
        visibility: hidden;


        &::before {
            position: absolute;
            content: '';
            width: 10px;
            height: 10px;
            border-radius: 2px;

            background-color: $text-color-primary;
            // color: $text-color-primary;
            top: 80%;
            right: 40%;
            transform: rotate(45deg);
        }
    }

    &:hover span {
        visibility: visible;
    }
}

.delete_btn {
    background-color:  $background-color-secondary;
    // background-color: $dark-grey;
    border: none;
    cursor: pointer;   

    display: flex;
    align-items: center;

    position: relative;

    .delete_img {
        @include red-filter_color;                    
    }

    .size_large {
        width: 25px;
        height: 25px;
    }
    
    .size_small {
        width: 15px;
        height: 15px;
    }

    span {
        position: absolute;
        bottom: 125%;
        right: -50%;
        background-color: $text-color-primary;
        color: $text-color-primary-inversed;
        padding: 0.5em;
        border-radius: 6px;
        visibility: hidden;


        &::before {
            position: absolute;
            content: '';
            width: 10px;
            height: 10px;
            border-radius: 2px;

            background-color: $text-color-primary;
            top: 80%;
            right: 40%;
            transform: rotate(45deg);
        }
    }

    &:hover span {
        visibility: visible;
    }

}

.edit_btn {
    background-color:  $background-color-secondary;
    // background-color: $dark-grey;
    border: none;
    cursor: pointer;   

    display: flex;
    align-items: center;

    position: relative;

    .edit_img {
        @include blue-filter_color;
    }

    .size_large {
        width: 25px;
        height: 25px;
    }
    
    .size_small {
        width: 15px;
        height: 15px;
    }

    span {
        position: absolute;
        bottom: 125%;
        right: -5px;
        color: $text-color-primary-inversed;
        background-color: $text-color-primary;
        padding: 0.5em;
        border-radius: 6px;
        visibility: hidden;


        &::before {
            position: absolute;
            content: '';
            width: 10px;
            height: 10px;
            border-radius: 2px;

            background-color: $text-color-primary;
            top: 80%;
            right: 35%;
            transform: rotate(45deg);
        }
    }

    &:hover span {
        visibility: visible;
    }
}

.award_btn {
    background-color:  $background-color-secondary;
    // background-color: $dark-grey;
    border: none;
    cursor: pointer;   

    display: flex;
    align-items: center;

    position: relative;

    .award_img {
        @include green-filter_color;
    }

    .size_large {
        width: 30px;
        height: 30px;
    }
    
    .size_small {
        width: 20px;
        height: 20px;
    }

    span {
        position: absolute;
        bottom: 125%;
        right: -30%;
        background-color: $text-color-primary;
        color: $text-color-primary-inversed;
        padding: 0.5em;
        border-radius: 6px;
        visibility: hidden;


        &::before {
            position: absolute;
            content: '';
            width: 10px;
            height: 10px;
            border-radius: 2px;

            background-color: $text-color-primary;
            top: 80%;
            right: 40%;
            transform: rotate(45deg);
        }
    }

    &:hover span {
        visibility: visible;
    }
}

.add_comment_btn {
    background-color:  $background-color-secondary;
    // background-color: $dark-grey;
    border: none;
    cursor: pointer;   

    display: flex;
    align-items: center;

    position: relative;

    .add_comment_img {
        width: 35px;
        height: 35px;
        @include blue-filter_color;
    }

    .size_large {
        width: 35px;
        height: 35px;
    }
    
    .size_small {
        width: 20px;
        height: 20px;
    }

    .active{
        @include red-filter_color;
    }

    span {
        position: absolute;
        bottom: 125%;
        right: -90%;
        background-color: $text-color-primary;
        color: $text-color-primary-inversed;
        padding: 0.5em;
        border-radius: 6px;
        visibility: hidden;
        
        &::before {
            position: absolute;
            content: '';
            width: 10px;
            height: 10px;
            border-radius: 2px;

            background-color: $text-color-primary;
            top: 80%;
            right: 45%;
            transform: rotate(45deg);
        }
    }

    .cancel_comment_span {
        width: 105px;
        right: -110%;
    }

    .add_comment_span {
        width: 90px;
    }

    &:hover span {
        visibility: visible;
    }
}

.comments_section_btn {
    background-color:  $background-color-secondary;
    // background-color: $dark-grey;
    border: none;
    cursor: pointer;   

    display: flex;
    align-items: center;

    position: relative;

    .comments_section_img {
        @include blue-filter_color;
    }

    .size_large {
        width: 30px;
        height: 30px;
    }
    
    .size_small {
        width: 17px;
        height: 17px;
    }

    .active{
        @include red-filter_color;
    }

    span {
        position: absolute;
        bottom: 125%;
        right: -140%;
        background-color: $text-color-primary;
        color: $text-color-primary-inversed;
        padding: 0.5em;
        border-radius: 6px;
        visibility: hidden;
        width: 102px;

        &::before {
            position: absolute;
            content: '';
            width: 10px;
            height: 10px;
            border-radius: 2px;

            background-color: $text-color-primary;
            top: 80%;
            right: 45%;
            transform: rotate(45deg);
        }
    }

    &:hover span {
        visibility: visible;
    }
}

.add_img_btn {   
    background-color:  $background-color-secondary;
    // background-color: $dark-grey;
    border: none;
    cursor: pointer;   

    display: flex;
    align-items: center;

    position: relative;

    .add_img_img {
        @include green-filter_color;
    }

    .size_large {
        width: 30px;
        height: 30px;
    }
    
    .size_small {
        width: 20px;
        height: 20px;
    }


    span {
        position: absolute;
        bottom: 125%;
        right: -140%;
        background-color: $text-color-primary;
        color: $text-color-primary-inversed;
        padding: 0.5em;
        border-radius: 6px;
        visibility: hidden;
        width: 102px;

        &::before {
            position: absolute;
            content: '';
            width: 10px;
            height: 10px;
            border-radius: 2px;

            background-color: $text-color-primary;
            top: 80%;
            right: 45%;
            transform: rotate(45deg);
        }
    }

    &:hover span {
        visibility: visible;
    }
}

.remove_img_btn {
    background-color:  $background-color-secondary;
    // background-color: $dark-grey;
    border: none;
    cursor: pointer;   

    display: flex;
    align-items: center;

    position: relative;

    .remove_img_img {
        @include red-filter_color;
    }

    .size_large {
        width: 30px;
        height: 30px;
    }
    
    .size_small {
        width: 20px;
        height: 20px;
    }

    span {
        position: absolute;
        bottom: 125%;
        right: -140%;
        background-color: $text-color-primary;
        color: $text-color-primary-inversed;
        padding: 0.5em;
        border-radius: 6px;
        visibility: hidden;
        width: 102px;

        &::before {
            position: absolute;
            content: '';
            width: 10px;
            height: 10px;
            border-radius: 2px;

            background-color: $text-color-primary;
            top: 80%;
            right: 45%;
            transform: rotate(45deg);
        }
    }

    &:hover span {
        visibility: visible;
    }
}


