@import "../../variables.scss";


.margin_right {
    margin-right: 10px;
}

.margin_left {
    margin-left: 10px;
}

.save_btn {
    background-color: $dark-grey;
    border: none;
    cursor: pointer;   

    display: flex;
    align-items: center;

    position: relative;

    .save_img {
        width: 30px;
        height: 30px;
        @include green-filter_color;
    }

    span {
        position: absolute;
        bottom: 125%;
        right: -20%;
        color: $black;
        background-color: $white;
        padding: 0.5em;
        border-radius: 6px;
        visibility: hidden;


        &::before {
            position: absolute;
            content: '';
            width: 10px;
            height: 10px;
            border-radius: 2px;

            background-color: $white;
            top: 80%;
            right: 38%;
            transform: rotate(45deg);
        }
    }

    &:hover span {
        visibility: visible;
    }
}

.cancel_btn {
    background-color: $dark-grey;
    border: none;
    cursor: pointer;   

    display: flex;
    align-items: center;

    position: relative;

    .cancel_img {
        width: 25px;
        height: 25px;
        @include red-filter_color;
    }

    span {
        position: absolute;
        bottom: 125%;
        right: -58%;
        color: $black;
        background-color: $white;
        padding: 0.5em;
        border-radius: 6px;
        visibility: hidden;


        &::before {
            position: absolute;
            content: '';
            width: 10px;
            height: 10px;
            border-radius: 2px;

            background-color: $white;
            top: 80%;
            right: 40%;
            transform: rotate(45deg);
        }
    }

    &:hover span {
        visibility: visible;
    }
}

.delete_btn {
    background-color: $dark-grey;
    border: none;
    cursor: pointer;   

    display: flex;
    align-items: center;

    position: relative;

    .delete_img {
        width: 25px;
        height: 25px;
        @include red-filter_color;                    
    }

    span {
        position: absolute;
        bottom: 125%;
        right: -50%;
        color: $black;
        background-color: $white;
        padding: 0.5em;
        border-radius: 6px;
        visibility: hidden;


        &::before {
            position: absolute;
            content: '';
            width: 10px;
            height: 10px;
            border-radius: 2px;

            background-color: $white;
            top: 80%;
            right: 40%;
            transform: rotate(45deg);
        }
    }

    &:hover span {
        visibility: visible;
    }

}

.edit_btn {
    background-color: $dark-grey;
    border: none;
    cursor: pointer;   

    display: flex;
    align-items: center;

    position: relative;

    .edit_img {
        width: 25px;
        height: 25px;
        @include blue-filter_color;
    }

    span {
        position: absolute;
        bottom: 125%;
        right: -5px;
        color: $black;
        background-color: $white;
        padding: 0.5em;
        border-radius: 6px;
        visibility: hidden;


        &::before {
            position: absolute;
            content: '';
            width: 10px;
            height: 10px;
            border-radius: 2px;

            background-color: $white;
            top: 80%;
            right: 35%;
            transform: rotate(45deg);
        }
    }

    &:hover span {
        visibility: visible;
    }
}

.award_btn {
    background-color: $dark-grey;
    border: none;
    cursor: pointer;   

    display: flex;
    align-items: center;

    position: relative;

    .award_img {
        width: 30px;
        height: 30px;
        @include green-filter_color;
    }

    span {
        position: absolute;
        bottom: 125%;
        right: -30%;
        color: $black;
        background-color: $white;
        padding: 0.5em;
        border-radius: 6px;
        visibility: hidden;


        &::before {
            position: absolute;
            content: '';
            width: 10px;
            height: 10px;
            border-radius: 2px;

            background-color: $white;
            top: 80%;
            right: 40%;
            transform: rotate(45deg);
        }
    }

    &:hover span {
        visibility: visible;
    }
}

.add_comment_btn {
    background-color: $dark-grey;
    border: none;
    cursor: pointer;   

    display: flex;
    align-items: center;

    position: relative;

    .add_comment_img {
        width: 35px;
        height: 35px;
        @include blue-filter_color;
    }

    .active{
        @include red-filter_color;
    }

    span {
        position: absolute;
        bottom: 125%;
        right: -90%;
        color: $black;
        background-color: $white;
        padding: 0.5em;
        border-radius: 6px;
        visibility: hidden;
        
        &::before {
            position: absolute;
            content: '';
            width: 10px;
            height: 10px;
            border-radius: 2px;

            background-color: $white;
            top: 80%;
            right: 45%;
            transform: rotate(45deg);
        }
    }

    .cancel_comment_span {
        width: 105px;
        right: -110%;
    }

    .add_comment_span {
        width: 90px;
    }

    &:hover span {
        visibility: visible;
    }
}

.comments_section_btn {
    background-color: $dark-grey;
    border: none;
    cursor: pointer;   

    display: flex;
    align-items: center;

    position: relative;

    .comments_section_img {
        width: 30px;
        height: 30px;
        @include blue-filter_color;
    }

    .active{
        @include red-filter_color;
    }

    span {
        position: absolute;
        bottom: 125%;
        right: -140%;
        color: $black;
        background-color: $white;
        padding: 0.5em;
        border-radius: 6px;
        visibility: hidden;
        width: 102px;

        &::before {
            position: absolute;
            content: '';
            width: 10px;
            height: 10px;
            border-radius: 2px;

            background-color: $white;
            top: 80%;
            right: 45%;
            transform: rotate(45deg);
        }
    }

    &:hover span {
        visibility: visible;
    }
}

.add_img_btn {   
    background-color: $dark-grey;
    border: none;
    cursor: pointer;   

    display: flex;
    align-items: center;

    position: relative;

    .add_img_img {
        width: 30px;
        height: 30px;
        @include green-filter_color;
    }


    span {
        position: absolute;
        bottom: 125%;
        right: -140%;
        color: $black;
        background-color: $white;
        padding: 0.5em;
        border-radius: 6px;
        visibility: hidden;
        width: 102px;

        &::before {
            position: absolute;
            content: '';
            width: 10px;
            height: 10px;
            border-radius: 2px;

            background-color: $white;
            top: 80%;
            right: 45%;
            transform: rotate(45deg);
        }
    }

    &:hover span {
        visibility: visible;
    }
}

.remove_img_btn {
    background-color: $dark-grey;
    border: none;
    cursor: pointer;   

    display: flex;
    align-items: center;

    position: relative;

    .remove_img_img {
        width: 30px;
        height: 30px;
        @include red-filter_color;
    }

    span {
        position: absolute;
        bottom: 125%;
        right: -140%;
        color: $black;
        background-color: $white;
        padding: 0.5em;
        border-radius: 6px;
        visibility: hidden;
        width: 102px;

        &::before {
            position: absolute;
            content: '';
            width: 10px;
            height: 10px;
            border-radius: 2px;

            background-color: $white;
            top: 80%;
            right: 45%;
            transform: rotate(45deg);
        }
    }

    &:hover span {
        visibility: visible;
    }
}
