@import "../../variables.scss";


    

.ToolTip {
    position: fixed;

    // font size, weight and letter spacing if u want

    background-color: var(--background-color-tertiary);
    color: var(--text-color-primary);
    padding: 7px 10px;
    border-radius: $border-radius;
    z-index: 99999;
    display: inline-block;
    white-space: nowrap;

    @include shadow;
 

}